/* font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif; */

.hidden {
  display: none !important;
}

.container {
  max-width: 575px;
  margin: 0 auto;
  padding: 0;
}

.game-container {
  max-width: 390px;
  margin: 0 auto;
  padding: 35px;
}

.faves-container {
  max-width: 390px;
  margin: 0 auto;
  padding: 5px;
}

.game-row {
  max-width: 365px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.fav-row {
  display: flex;
  flex-wrap: wrap;
  max-width: 365px;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.column-full {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 700px;
    padding: 0;
  }

  .game-container {
    max-width: 600px;
    padding: 55px 0;
  }

  .faves-container {
    max-width: 600px;
  }

  header {
    max-height: 95px;
    padding: 20px;
  }
}
