body {
  background-color: #16203a;
  font-family: "Open Sans", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1d336b;
  padding: 7px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  max-height: 75px;
}

.logo img {
  width: 70px;
  margin: 5px 15px 0;
  cursor: pointer;
}

.nav-links {
  display: flex;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  margin: 0 50px;
}

a {
  margin: 0 10px;
  color: #00d1ff;
  text-decoration: none;
  font-size: 18px;
  letter-spacing: 0.5px;
  cursor: pointer;
}

.home-nav {
  margin-right: 30px;
}

h2 {
  color: #00d1ff;
  font-weight: 100;
  margin: 75px 0 10px;
}

div.label > label {
  margin-right: 95px;
  margin-bottom: 5px;
}

p,
div.label > label {
  color: white;
}

div.description > p {
  margin: 0;
}

div.instructions > p {
  margin: 0 0 7rem;
}

select {
  cursor: pointer;
  width: 200px;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 2px rgb(204, 204, 204);
  transition: all 0.5s ease;
  font-size: 16px;
  color: #474747;
  padding: 3px 20px 3px 0;
  text-align: left;
  height: 100%;
}

button.start {
  letter-spacing: 0.5px;
  color: white;
  background-color: #00a6ca;
  margin-top: 40px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  padding: 10px 40px;
  cursor: pointer;
}

h3 {
  color: white;
  letter-spacing: 0.5px;
  font-weight: 100;
}

.game-container,
.faves-container {
  background-color: #343f4a;
  min-height: 600px;
}

.game-description {
  margin: 0 0 2rem;
}

button.next {
  letter-spacing: 0.5px;
  color: white;
  background-color: #00a6ca;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  padding: 10px 40px;
  cursor: pointer;
}

.next-btn {
  position: absolute;
  bottom: 13rem;
  left: 50%;
  transform: translateX(-50%);
}

i {
  color: #00d1ff;
  cursor: pointer;
}

.faves-list {
  padding: 0;
}

.fav-title {
  max-width: 365px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

li {
  padding-bottom: 3rem;
}

.fav-game-genre {
  margin: 0;
}

.modal {
  background-color: rgb(0 0 0 / 65%);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
}

.modal-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  margin: auto;
  max-width: 350px;
  height: 160px;
  padding: 15px;
  border-radius: 5px;
  text-align: center;
}

.modal-txt {
  color: black;
  letter-spacing: 0.5px;
  margin-bottom: 30px;
}

.cancel {
  font-weight: bold;
  font-size: 1rem;
  background-color: #b6b6b6;
  border: none;
  padding: 7px 15px;
  letter-spacing: 0.5px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 4rem;
}

.confirm-btn {
  font-weight: bold;
  font-size: 1rem;
  color: white;
  background-color: #dc2626;
  border: none;
  padding: 7px 15px;
  letter-spacing: 0.5px;
  border-radius: 5px;
  cursor: pointer;
}

.game-img {
  margin-bottom: 1rem;
}

.game-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}
