body {
  background-color: #16203a;
  font-family: "Open Sans", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1d336b;
  padding: 7px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  max-height: 75px;
}

.logo img {
  width: 70px;
  margin: 5px 15px 0;
  cursor: pointer;
}

.nav-links {
  display: flex;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  margin: 0 50px;
}

a {
  margin: 0 10px;
  color: #00d1ff;
  text-decoration: none;
  font-size: 18px;
  letter-spacing: 0.5px;
  cursor: pointer;
}

.home-nav {
  margin-right: 30px;
}

h2 {
  color: #00d1ff;
  font-weight: 100;
  margin: 75px 0 10px;
}

div.label > label {
  margin-right: 95px;
  margin-bottom: 5px;
}

p,
div.label > label {
  color: white;
}

div.description > p {
  margin: 0;
}

div.instructions > p {
  margin: 0 0 7rem;
}

select {
  cursor: pointer;
  width: 200px;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 2px rgb(204, 204, 204);
  transition: all 0.5s ease;
  font-size: 16px;
  color: #474747;
  padding: 3px 20px 3px 0;
  text-align: left;
  height: 100%;
}

button.start {
  letter-spacing: 0.5px;
  color: white;
  background-color: #00a6ca;
  margin-top: 40px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  padding: 10px 40px;
  cursor: pointer;
}

h3 {
  color: white;
  letter-spacing: 0.5px;
  font-weight: 100;
}

.game-container {
  background-color: #343f4a;
}

.faves-container {
  background-color: #343f4a;
}

.game-description {
  margin: 0 0 2rem;
}

button.next {
  letter-spacing: 0.5px;
  color: white;
  background-color: #00a6ca;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  padding: 10px 40px;
  cursor: pointer;
}

i {
  color: #00d1ff;
}

.faves-list {
  padding: 0;
}

.fav-title {
  max-width: 365px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
